# Lipinski on a DATAFRAME

In [5]:
from rdkit import Chem
from rdkit.Chem import Descriptors
from rdkit.Chem import Descriptors, Draw, PandasTools
from rdkit.Chem import Descriptors, Lipinski
import numpy as np

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('lipin_rdkit.csv')

In [8]:
df

        Name                                             smiles
0   Apigenin         C1=CC(=CC=C1C2=CC(=O)C3=C(C=C(C=C3O2)O)O)O
1   Baicalin  C1=CC=C(C=C1)C2=CC(=O)C3=C(C(=C(C=C3O2)OC4C(C(...
2  Baicalein       C1=CC=C(C=C1)C2=CC(=O)C3=C(O2)C=C(C(=C3O)O)O

In [9]:
def lipinski_check(smiles):
    
    df=Chem.MolFromSmiles(smiles)
    b=Descriptors.ExactMolWt(df)
    c=Descriptors.NumHAcceptors(df)
    d=Descriptors.NumHDonors(df)
    e=Descriptors.MolLogP(df)
    #df3=(b,c,d,e)
    df3=pd.Series({"MW":b, "nHA":c, "nHD":d,"LogP":e})
    #df4=pd.Series.to_frame(df3).T #(.T= transpose)
    return(df3)

In [10]:
df1=df["smiles"].apply(lipinski_check)

In [11]:
df1

           MW   nHA  nHD    LogP
0  270.052823   5.0  3.0  2.5768
1  446.084911  10.0  6.0  0.1422
2  270.052823   5.0  3.0  2.5768